<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482308819172-req9crvgmvhuermno6tpogb19k8p18et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482308819172-req9crvgmvhuermno6tpogb19k8p18et</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBHmq__zABXaaIftpqDarI0YSOI31vJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>482308819172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notificationpush-e237a</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationpush-e237a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482308819172:ios:0389ac9cc727aeb43684f1</string>
</dict>
</plist>